<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.metal_project.dao.PlayDao">
   
   <!-- 登录 -->
   <select id="login" resultType="play">
   		select * from play where p_email=#{p_email} and p_password=#{p_password}
   </select>
   
	<!-- 注册 -->
   	<insert id="regist">
   		insert into play values (
   		null,#{p_username},#{p_password},#{p_email},
   		#{p_gold},#{p_exp},#{p_max_garage},null
   		)
   	</insert>
</mapper>
